*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primery: #47185c;
    --primary-dark:#14001d;
}
body{
    background-color: var(--primery);
   
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-container{
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
    background-color: white;

    
    
}
.hero-section{
 justify-self: center;
 margin-top: 2rem;
}
.hero-section h2{
    font-size: 2rem;
    
}
.hero-section p{
    justify-self: center;
    font-size:1.rem;
    font-weight: 600;
    font-weight: 600;
    margin: 1rem 0.5rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
input{
    padding: 0.5rem;
    
}
button{
    padding: 0.5rem;
    background-color: var(--primery);
    color: white;
    font-weight: 600;
    border: none;
    opacity: 0.9;
    transition: 0.3s ease-in-out;

}
button:hover{
    opacity: 1;
    cursor: pointer;
}
button:active{
    background-color: var(--primary-dark);   
}
.image{  
    border: 2px solid var(--primery);
}
.image img{
    display: flex;
    justify-self: center;
    margin: 0.5rem;   
}
.btnclass{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btnclass button{
    width: 50%;

}
.download-btn {
    background: #3CCF4E;    /* Green */
    color: white;
    padding: 10px 20px;
    /* border-radius: 8px; */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.download-btn:hover {
    background: #34b443;
    cursor: pointer;
}


/* Search Again Button */
.search-btn {
    background: #FF6EC7;   /* Pink */
    color: white;
    padding: 10px 20px;
    /* border-radius: 8px; */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.search-btn:hover {
    background: #e05fb1;
    cursor: pointer;
}

@media (max-width:375px) {

   .hero-section h2{
        font-size:2.2rem;
        text-align: center;
    }
    .search-btn{
        padding: 10px 10px;
    }
}